@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap");
:root {
  /* ## Colors */

  --very-dark-grayish-blue: hsl(217, 19%, 35%);
  --desaturated-dark-blue: hsl(214, 17%, 51%);
  --grayish-blue: hsl(212, 23%, 69%);
  --light-grayish-blue: hsl(210, 46%, 95%);
}

* {
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

body {
  margin: 0;
  line-height: 1.5;
  background-color: var(--light-grayish-blue);
}

main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 13px;
  font-family: "Manrope", sans-serif;
  color: var(--desaturated-dark-blue);
  font-weight: 500;
}

.card-container {
  width: 85%;
  border-radius: 12px;
  background-color: white;
  box-shadow: 0 4px 16px hsla(212, 23%, 69%, 0.35);
}

.header-img {
  width: 100%;
  border-radius: 12px 12px 0 0;
}

.container {
  position: relative;
}

.content1-box {
  padding: 20px 5% 13px 5%;
}

.content1-box .title {
  margin-top: 0;
  font-size: 16px;
  color: var(--very-dark-grayish-blue);
  font-weight: 700;
}

.content1-box .paragraph {
  margin-bottom: 0;
}

.user-container {
  padding: 16px 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: lightgray; */
}

.avatar-data-user {
  margin: 0;
  display: flex;
  align-items: center;
}

.user-avatar {
  margin-right: 12px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.user-data p {
  margin: 0;
}

.user-data .username {
  color: var(--very-dark-grayish-blue);
  font-weight: 700;
}

.user-data .date {
  color: var(--grayish-blue);
}

.share-btn {
  width: 28px;
  height: 28px;
  border: none;
  border-radius: 50%;
  background-color: var(--light-grayish-blue);
  transition-duration: 300ms;
}

.share-btn.active-btn {
  position: absolute;
  bottom: 23.5px;
  right: 5%;
  width: 28px;
  height: 28px;
  background-color: var(--desaturated-dark-blue);
  z-index: 10;
}

.share-icon {
  color: var(--desaturated-dark-blue);
  transition-duration: 300ms;
}

.share-icon.active-icon {
  color: white;
}

.share-container {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 72px;
  padding: 0 5%;
  display: flex;
  align-items: center;
  background-color: var(--very-dark-grayish-blue);
  border-radius: 0 0 12px 12px;
  visibility: hidden;
  opacity: 0;
  transition-duration: 300ms;
  transition-property: all;
}

.share-container.show-menu {
  visibility: visible;
  opacity: 1;
}

.social-links-box {
  margin: 0;
  padding: 0;
  width: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--desaturated-dark-blue);
}

.share-container .text {
  /* margin-right: 8px; */
}

.social-link {
  color: white;
}

.social-link i {
  font-size: 20px;
}

.attribution {
  margin: 1em 0;
  font-size: 0.8em;
  text-align: center;
  color: var(--grayish-blue);
}

.attribution a {
  text-decoration: none;
  color: var(--desaturated-dark-blue);
  padding-bottom: 0.4em;
  border-bottom: solid 2px transparent;
  transition-duration: 0.5s;
}

.attribution a:hover {
  color: var(--very-dark-grayish-blue);
  border-color: var(--very-dark-grayish-blue);
}

@media (min-width: 512px) {
  .card-container {
    width: 312px;
  }
}

@media (min-width: 667px) {
  .card-container {
    width: 660px;
    display: flex;
  }

  .header-img {
    width: 260px;
    border-radius: 12px 0 0 12px;
  }

  .content1-box {
    padding-top: 28px;
  }

  .user-container {
    padding-bottom: 28px;
  }

  .share-btn.active-btn {
    position: initial;
    bottom: initial;
    right: initial;
    background-color: var(--desaturated-dark-blue);
    z-index: initial;
  }

  .share-container {
    position: absolute;
    bottom: 84px;
    right: -48px;
    width: 50%;
    height: 42px;
    border-radius: 8px;
    visibility: hidden;
  }

  .social-links-box {
    width: 100%;
  }

  .triangle {
    position: absolute;
    bottom: 73px;
    right: 5%;
    width: 28px;
    border-left: 14px solid transparent;
    border-top: 12px solid var(--very-dark-grayish-blue);
    border-right: 14px solid transparent;
    visibility: hidden;
    opacity: 0;
    transition-duration: 300ms;
  }

  .triangle.show {
    visibility: visible;
    opacity: 1;
  }
}
